body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    margin: 0;
    padding: 0;
    background-image: url('../images/bg.png');
}
.content{
    width: 100%;
    height: 100%;
    display:  flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.content .header{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
}
.content .header .h-left{
    width: 400px;
    height: 60px;
    display:  flex;
    justify-content: flex-start;
    align-items: center;
}
.content .header .h-center{
    width: 500px;
    height: 60px;
    display:  flex;
    justify-content:  center;
    align-items: center;
}
.content .header .h-right{
    width: 400px;
    height: 60px;
    display: flex;
    justify-content: space-between;
}
.content .header .h-left p{
    font-size: 26px;
    color: #44A2F9;
    margin-left: 20px;
    font-weight: 700;
}
.content .header .h-center p{
    font-size: 26px;
    color: white;
    font-weight: 700;
}
.content .header .h-right .temperature{
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.content .header .h-right .humidity{
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
}
.content .header .h-right .temperature P,
.content .header .h-right .humidity p{
    color: #1296DB;
}
p{
    margin: 0;
    padding: 0;
}
.content .header .time{
    width: 100%;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content .header .time p{
    width: 180px;
    height: 25px;
    font-size: 14px;
    color: #677798;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .sectionItem{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.content .sectionItem .sectionLeft{
    width: 25%;
    height: 800px;
    /* background: rgba(0, 0, 0, 0.1); */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-between;
}
.content .sectionItem .sectionCenter{
    width: 45%;
    height: 800px;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-between;
}
.content .sectionItem .sectionRight{
    width: 25%;
    height: 800px;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-between;
}
.content .sectionItem .sectionLeft .left{
    width: 90%;
    height: 250px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}
.content .sectionItem .sectionCenter .center{
    width: 100%;
    height: 280px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.content .sectionItem .sectionCenter .center1{
    width: 100%;
    height: 170px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}
.content .sectionItem .sectionRight .right1{
    width: 90%;
    height: 35%;
    background: rgba(0, 0, 0, 0.4);
}
.content .sectionItem .sectionRight .right2{
    width: 90%;
    height: 60%;
    background: rgba(0, 0, 0, 0.4);
}
.sectionItem .sectionLeft .left .leftHeader{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/*统一设置图表上方的标题*/
.sectionItem .sectionCenter .center .title,
.sectionItem .sectionLeft .left .leftHeader .title{
    font-size: 16px;
    font-weight: 600;
    color: #3D82AE;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 5px;
}
.sectionItem .sectionCenter .center .englishTitle,
.sectionItem .sectionLeft .left .leftHeader .englishTitle{
    font-size: 14px;
    color: #847e8b;
    display:  flex;
    align-items: center;
    margin-left: 15px;
}
/*统一设置图表的四角*/
.sectionItem .sectionCenter .center .lineChart1,
.sectionItem .sectionCenter .center .lineChart2,
.sectionItem .sectionLeft .left .fourAngles{
    background: linear-gradient(to left, #3975A2, #3975A2) left top no-repeat, 
                linear-gradient(to bottom, #3975A2, #3975A2) left top no-repeat, 
                linear-gradient(to left, #3975A2, #3975A2) right top no-repeat,
                linear-gradient(to bottom, #3975A2, #3975A2) right top no-repeat, 
                linear-gradient(to left, #3975A2, #3975A2) left bottom no-repeat,
                linear-gradient(to bottom, #3975A2, #3975A2) left bottom no-repeat,
                linear-gradient(to left, #3975A2, #3975A2) right bottom no-repeat,
                linear-gradient(to left, #3975A2, #3975A2) right bottom no-repeat;
    background-size: 1px 5px, 5px 1px, 1px 5px, 5px 1px;  
}
/*统一设置图表的层叠边框*/
.sectionItem .sectionLeft .left .leftBorder{
    width: 100%;
    height: 220px;
    border: 1px solid #0D1D46;   
    position: absolute;
    top: 32px;
    left: 6px;
    z-index: 100;
}

/*左边图表*/
.sectionItem .sectionLeft .left .data1{
    width: 100%;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #0D1D46;
    z-index: 999;
    /* background: rgba(0, 0, 0, 0.2); */
}
.sectionItem .sectionLeft .left .data2{
    width: 100%;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #0D1D46;
    z-index: 999;
    /* background: rgba(0, 0, 0, 0.2); */
}
.sectionItem .sectionLeft .left .data3{
    width: 100%;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #0D1D46;
    z-index: 999;
    /* background: rgba(0, 0, 0, 0.2); */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    color: #a7a7a7;
    font-size: 14px;
}
.sectionItem .sectionLeft .left .data3 p{
    margin: 8px 0;
}

/*中间图表*/
.sectionCenter .center1 .node1{
    width: 35%;
    height: 170px;
}
.sectionCenter .center1 .node2{
    width: 15%;
    height: 170px;
}
.sectionCenter .center1 .node3{
    width: 10%;
    height: 170px;
}
.sectionCenter .center1 .node4{
    width: 13.3%;
    height: 170px;
}
.sectionCenter .center1 .node1 .nodeTop,
.sectionCenter .center1 .node2 .nodeTop,
.sectionCenter .center1 .node3 .nodeTop{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.sectionCenter .center1 .node1 .nodecontent,
.sectionCenter .center1 .node2 .nodecontent,
.sectionCenter .center1 .node3 .nodecontent{
    width: 100%;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.sectionCenter .center1 .node1 .nodeTop p{
    font-size: 24px;
    color: #44A2F9;
    font-weight: 700;
    margin-left: 5px;
    padding-top: 5px;
    padding-right: 5px;
}
.sectionCenter .center1 .node1 .nodecontent{
    display: flex;
    justify-content: space-around;
}
.sectionCenter .center1 .node1 .nodecontent p{
    width: 35px;
    height: 75px;
    background: rgba(37, 54, 99, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}
.sectionCenter .center1 .node1 .nodecontent p span{
    font-size: 66px;
    font-family: '黑体';
    color: white;
}
.sectionCenter .center1 .node2 .nodecontent,
.sectionCenter .center1 .node3 .nodecontent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sectionCenter .center1 .node2 .nodecontent .contentTitle,
.sectionCenter .center1 .node3 .nodecontent .contentTitle{
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.sectionCenter .center1 .node2 .nodecontent .contentTitle p,
.sectionCenter .center1 .node3 .nodecontent .contentTitle p{
    color: #847e8b;
    margin-left: 10px;
    font-weight: 700;
}
.sectionCenter .center1 .node2 .nodecontent .contentNumber,
.sectionCenter .center1 .node3 .nodecontent .contentNumber{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.sectionCenter .center1 .node2 .nodecontent .contentNumber p,
.sectionCenter .center1 .node3 .nodecontent .contentNumber p{
    color: #44A2F9;
    margin-left: 5px;
    font-size: 24px;
    font-weight: 600;
    font-family: '黑体';
    margin-left: 10px;
}
.sectionCenter .center1 .node3 .nodecontent .contentNumber p{
    color: #C52952;
}
.sectionCenter .center1 .node4 .chartTitle{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sectionCenter .center1 .node4 .chartTitle p{
    color: #847e8b;
}
.sectionCenter .center1 .node4 .chartTitle span{
    font-size: 16px;
}
.sectionCenter .center1 .node4 .chartContent{
    width: 100%;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sectionCenter .center1 .node4 .chartContent P{
    color: white;
    font-size: 22px;
    font-family: '黑体';
}
.sectionCenter .center1 .node4 .chartContent #centerChart1{
    width: 100%;
    height: 140px;
}
.sectionCenter .center1 .node4 .chartContent #centerChart2{
    width: 100%;
    height: 140px;
}
.sectionCenter .center .lineChart1{
    width: 100%;
    height: 255px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #0D1D46;
}
.sectionCenter .center .centerBorder{
    width: 100%;
    height: 255px;
    border: 1px solid #0D1D46;   
    position: absolute;
    top: 32px;
    left: 6px;
}
.sectionCenter .center .lineChart2{
    width: 100%;
    height: 255px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #0D1D46;
}
