*{
    margin: 0;
    padding: 0;
}
.header{
    width: 100%;
    min-width: 1200px;
    height: 200px;
    background-image: url(../images/header.png);
    background-repeat: no-repeat;
    background-color: antiquewhite;
    background-position: top left;
    background-size: 100% 100%;
}
.content{
    width: 1200px;
    border: 1px solid #C1B28B;
    margin: 0 auto;
}
.content-menu{
    width: 1200px;
    height: 31px;
}
.content-menu ul{
    list-style: none;
}
.content-menu ul li{
    display: inline;
}
.content-menu ul li a{
    display: block;
    text-decoration: none;    
    color: black;
    float: left;
    letter-spacing: 3px;
    font-weight: 600;
    padding: 5px 40px;
    margin-left: 4px;
    background-color: #9A8243;
    opacity: 0.9;
}
.content-menu ul li a:hover{
    opacity: 1;
    color: rgb(255, 255, 255);
}
.content-box{
    width: 100%;
    height: 600px;
}
.content-leftBox{
    float: left;
    width: 310px;
    height: 559px;
    border: 1px dashed #9A8243;
    margin: 20px 20px;
    overflow: hidden;
}
.content-leftBox div:first-child,
.content-rightBox div:first-child,
.content-bottomBox div:first-child{
    color: green;
    font-weight: 700;
    margin-left: 35px;
    margin-top: 20px;
}
.content-leftBox div:last-child,
.content-rightBox div:last-child,
.content-bottomBox div:last-child{
    margin: 20px 20px;
    text-indent: 40px;
    line-height: 30px;
    font-weight: 500;
}
.content-rightBox{
    float: left;
    width: 250px;
    height: 375px;
    border: 1px dashed #9A8243;
    margin: 20px 10px;
}
.content-bottomBox{
    float: left;
    width: 795px;
    height: 163px;
    border: 1px dashed #9A8243;
    margin: 0 10px;
}
.footer{
    width: 100%;
    min-width: 1200px;
    height: 105px;
    background-color: #947D40;
}
.footer-content{
    width: 1200px;
    height: 105px;
    margin: 0 auto;
    text-align: center;
}
.footer-content ul{
    display: inline-block;
    margin-top: 25px;
}
.footer-content ul li{
    list-style: none;
    float: left;
    padding: 10px 5px;
}
.footer-content ul li a{
    text-decoration: none;
    color: black;
}
/* 设置对象被选择时的样式。  */
::selection {
	background: #009a61;
	color: #fff;
}

::-moz-selection {
	background: #009a61;
	color: #fff;
}

::-webkit-selection {
	background: #009a61;
	color: #fff;
}