*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #ccc;
}
.camera{
    width: 300px;
    height: 300px;
    margin: 100px auto;
    cursor: pointer;
    -webkit-perspective: 800;
            perspective: 800;
}
.stage{
    width: 300px;
    height: 300px;
    position: relative;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
}
.performer1{
    /*这行代码是xiaobox1设置为背面隐藏*/
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    width: 300px;
    height: 300px;
    position: absolute;
    background: url(../images/2.jpg) no-repeat;
    background-size: 650px 300px;
    /* 原地旋转180度 */
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
}
.performer2{
    /*这行代码是xiaobox1设置为背面隐藏*/
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    width: 300px;
    height: 300px;
    position: absolute;
    background: url(../images/3.jpg) no-repeat;
    background-size: 650px 300px;
}
.stage:hover{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
}