<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <rewrite>
            <rules>
                <rule name="Plesk. Wordpress redirect wpConfigRule #fa63d0e8-ea07-41c5-b188-303e32f34f1c" stopProcessing="true">
                    <match url="^wp-config.php$" ignoreCase="false" />
                    <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
