/* CSS Document */
@charset "utf-8";

	body{margin:0;background-color:#F5F5F5; overflow-x:hidden;}
	
	.logo{width:100%; height:60px; background-color:#FFD705; }
	.fl{float:left;}
	.logo .tit{width:1000px; margin: auto;}
	.tit img{position:relative; top:10px; left:180px;}
	 
	.query{
		width:421px;
		height:38px; 
		background-image:url(../img/header.png);
		background-repeat:no-repeat;
		background-position:0 -38px;
		position:relative;
		top:10px;
		left:280px;
	}
	.query .in{margin:8px auto 8px 50px; border:0; height:20px; width:260px; background-color:#FFD705}
	.query a{ margin-left:30px; color:#fff; font-size:20px; text-decoration:none}
	.mt{width:1000px;}
	.mt,.cart{
		margin:10px auto;	background-color:#FFFFFF;
	}
	
	.mt .content{
		width:250px; height:305px;background-color:#FFFFFF;margin:0 auto;
		text-align:center; border-bottom:1px #ccc solid;
	}
	.mt .content img{width:220px; height:150px; margin:15px;}
	.mt table{margin:15px; border-spacing:5px;}
	td span{color:orange; font-size:13px;}
	.t{color:#aaa; font-size:13px;}
	h4 span{color:red}
	.cart tr{text-align:center;}
	p{color:red;font-size:20px; text-align:center}
	a{color:blue; text-decoration:none;}
	a:hover{cursor:pointer; }
	#cart{border-bottom:1px solid #ccc; margin-bottom:10px;}
	.num{
		margin-left:5px;margin-right:5px;
	}
	.op{
		border: 1px solid #999;
		padding:0 4px;text-decoration: none;font-size: 15px;
	}
	/* 数量按钮 */
.box{
    width: 100px;
    height: 30px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    margin: auto;
    position: relative;
}
.reduce{
    display: inline-block;
    width: 30px;
    height: 30px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10000;
    cursor: pointer;
}
.reduce::before,.reduce::after,
.increase::before,.increase::after{
    content: '';
    position: absolute;
    top: 50%;
    height: 50%;
}
.reduce::before{
    width: 15px;
    border-top: 3px solid;
    margin: -2px 0 0 -10px;
    color: #bbb;
}
.increase{
    display: inline-block;
    width: 30px;
    height: 30px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10000;
    cursor: pointer;
}
.increase::before{
    width: 15px;
    border-top: 3px solid;
    margin: -2px 0 0 -8px;
    color: #bbb;
}
.increase::after{
    width: 15px;
    border-left: 3px solid;
    margin: -8px 0 0 -2px;
    color: #bbb;
}
.number{
    display: inline-block;
    width: 40px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 18px;
}
/* 提示框  兼容插件*/
.prompt{
    width: 350px;
    height: 150px;
    border: 1px solid #eee;
    border-radius: 3px;
    /* 
    第一个参数：左右X轴阴影位置
    第二个参数：上下Y轴阴影位置，正数向下偏移，负数向上偏移
    第三个参数：模糊度，数值越大越模糊，越小越清晰
    第四个参数：模糊范围，数值越大范围越大，越小范围越小
    第五个参数：颜色
     */
    -webkit-box-shadow: 0 4px 10px -1px #ccc;
            box-shadow: 0 4px 10px -1px #ccc;
    background-color: rgb(253, 253, 253);
    position: fixed;
    top: 5%;
    left: 41%;
    z-index: 1000;
    display: none;
    overflow: hidden;
}
.information{
    width: 100%;
    line-height: 30px;
    margin: 60px auto;
    text-align: center;
    letter-spacing: 2px;
    font-size: 16px;
    color: rgb(24, 24, 24);
}
#addAnimation{
    display: block;
    -webkit-animation: add 2s;
            animation: add 2s;
}

@-webkit-keyframes add{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes add{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}