*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: 500;
}
body{
    text-align: center;
}
#header{
    width: 100%;
    background-color: #FED61B\0;
    background-color: #FED61B;
    position: relative;
}
#header-title{
    width: 1200px;
    height: 70px;
    margin: 0 auto;
    position: relative;
}
#header-title-logo{
    width: 140px;
    height: 45px;
    position: absolute;
    top: 15px;
    left: 0;
}
#search{
    width: 422px;
    height: 40px;
    /* background: url(../images/header.png) no-repeat;
    background-position: 0px -37px; */
    background: url(../images/header_02.png) no-repeat;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/header_02.png'); 
    zoom: 1; 

    position: absolute;
    top: 15px;
    left: 380px;
    
    /* IE6下不兼容图片的透明度：两个解决方法一、加滤镜  二、图片不要使用png格式，换一种格式 */
    /* _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/header.png'); 
    zoom: 1; */
}
#s1{
    position: absolute;
    top: 6px;
    left: 50px;
    color: #888;
}
#s2{
    position: absolute;
    top: 6px;
    right: 35px;
    color: #eee;
}



#content{
    width: 100%;
    height: 100%;
    background-color: #F4F4F4\0;
    background-color: #F4F4F4;
}
#content-tab{
    width: 1200px;
    height: 1140px;
    margin: 0 auto;
    background-color: white\0;
    background-color: white;
}
#content-tab tr td{
    width: 300px;
    height: 380px;
    border: 1px;
    border-style: none;
    border-bottom-style: solid;
    border-bottom-color: #d3d3d3\0;
    border-bottom-color: #d3d3d3;
}
#content-tab-border td:nth-child(n+1){
    border-style: none;
}
#content-MyShoppingCart{
    font-family: 黑体;
    font-size: 22px;
    font-weight: 600;
    padding: 30px 0;
    text-align: center;
    color: blue;
}
#content-brackets{
    color: black;
    font-size: 22px;
}
#content-0{
    color: red;
    font-size: 22px;
}
#content-tab-article{
    width: 265px;
    height: 346px;
    margin: 0 auto;
    position: relative;
}
#article-img{
    width: 265px;
    height: 182px;
    background-position: top left;
    background-size: 265px 182px;
    cursor: pointer;
}
#article-TradeName{
    width: 240px;
    height: 30px;
    line-height: 30px;
    margin: 38px 20px 0 5px;
}
#article-TradeName span:first-child{
    float: left;
}
#article-TradeName span:last-child{
    float: right;
}
#article-SalesVolume{
    width: 240px;
    height: 21px;
    margin: 5px 20px 5px 5px;
    line-height: 21px;
}
#article-SalesVolume span{
    font-size: 16px;
    font-weight: 400;
    color: #FEA836;
    float: right;
    line-height: 21px;
}
#article-details{
    margin: 5px 20px 5px 5px;
    line-height: 21px;
}
#article-details span{
    font-size: 16px;
    font-weight: 400;
    color: #A0A0A0;
    line-height: 21px;
}
#article-details span:first-child{
    float: left;
    margin-right: 20px;
}
#article-details span:last-child{
    float: right;
}
#article-btn{
    width: 100px;
    height: 24px;
    line-height: 24px;
    vertical-align:middle;
    cursor: pointer;
    float: right;
    margin: 5px 20px 5px 0;
    font-size: 16px;
    font-family: 黑体;
}
#footer{
    background-color: #FED61B\0;
    background-color: #FED61B;
    cursor: pointer;
}
#footer-title{
    width: 1200px;
    height: 70px;
    line-height: 70px;
    margin: 0 auto;
    text-align: center;
}
#footer-title span{
    font-size: 16px;
    font-weight: 500;
}

/* 兼容iphone5 */
/* @media (device-height:568px) and (-webkit-min-device-pixel-ratio:2){} 
@media only screen and (max-device-width :480px){ } 
@media only screen and (min-device-width :481px){ }  */

/*6*/ 
/* @media (min-device-width : 375px) and (max-device-width : 667px) and (-webkit-min-device-pixel-ratio : 2){
    
 }   */

/*6+*/ 
/* @media (min-device-width : 414px) and (max-device-width : 736px) and (-webkit-min-device-pixel-ratio : 3){ }   */

/*魅族*/ 
/* @media only screen and (min-device-width :1080px) and (-webkit-min-device-pixel-ratio : 2.5){ }  */

/*mate7*/ 
/* @media only screen and (min-device-width :1080px) and (-webkit-min-device-pixel-ratio : 3){ }  */

/*4 4s*/ 
/* @media only screen and (device-height :480px) and (-webkit-device-pixel-ratio:2){ }  */
