.sc-article{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    background: #eee;
}
.sc-mycart{
    width: 100%;
    height: 30px;
    line-height: 30px;
    margin: 30px 5px;
}
.sc-mycart span{
    margin-left: 40px;
    font-weight: 600;
}
.sc-buytitle{
    width: 100%;
    height: 32px;
    background: url(../images/buytitle_bg.gif) no-repeat;
    background-size: 100%;
}
.sc-buytitle span{
    font-weight: 600;
    height: 32px;
    line-height: 32px;
    margin-left: 60px;
}